.homepage-image{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body{
  color: #4a4a4a;
  font-family: Futura;
  text-transform: capitalize;
  font-size: 10px;
}
