
.card-header-title1{
  font-size: 25px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.imageHolder{
  height: 100%;
  width: 200px;
  height: 200px;
  background-position: center;
  background-blend-mode: exclusion;
  background-size: cover;
}
