.rights-reserved{
  text-align: center;
  margin: 0 auto;
  color: #4a4a4a;
  font-family: Futura;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  margin-top: 20px;
}
