
.body{
  box-sizing: border-box;
}

.home-container1{
// background-image: url('./../assets/assets/images/newlogo.jpg');
background-size: contain;
// height: 500px;
background-repeat: no-repeat;
background-position: center;
width: 100%;
margin-top: 20px;
display: flex;
justify-content: center;
align-items: center;
margin-left: 70px;

}

.slideshow-container{
  width: 70%;
  height: 75vh;
  align-items: center;
  justify-content: center;

}

.background-image{
  margin-left: 30px;
}
