#navbar{
background-color: white;
}


.nav-wrapper{
  color: black;
}
.nav-wrapper a{
  color: #4a4a4a;
  font-family: Futura;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  padding-right: 15px;
  margin-right: 15px;
}

.nav-wrapper a:nth-child(1){
  border-right: 1px solid black;
}

.nav-wrapper a:nth-child(2){
    border-right: 1px solid black;
}
.nav-content{
// border-bottom: 1px solid #e1e1e1;
padding: 7px 0 8px;
font-family: Futura;
text-align: center;
font-size: 14px;
line-height: 25px
}

.right.hide-on-med-and-down{
  margin-right: 5px;
}
.tabs .tab{
  margin: 0 10px;
  text-decoration: none;
}

.tabs.tabs-transparent{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 12px;

}
.logo{
  width: 150px;
}
.logo{
  text-align: left;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  position: absolute;
  top: -50px;
  left: 0;
}

// @font-face{
//   font-family: "CeraPro";
//   src: url('./../components/assets/fonts/CeraPro-Bold.ttf');
// }
